body, html, p{
    font-size: 1em;
}
.wp_widget_plugin_textarea{
    font-size: 1em !important;
    margin: 0 !important;
    line-height: 1 !important;
}
.extrasmall{
    padding: 3px 10px;
    letter-spacing: 0;
    margin: 0;
    line-height: 1;
}